Libraries for Project

In [1]:
import numpy as np
import pandas as pd # type: ignore

Load Data

In [6]:
Org_data = pd.read_csv("/home/malaka/Projects/CV_Projects/Datasets/Org_data.csv")
Org_data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130

In [7]:
print(Org_data.isnull().sum())

# Example: Drop rows with missing latitude or longitude (important for geospatial analysis)
df = Org_data.dropna(subset=['LAT', 'LON'])

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           147473
Vict Age               0
Vict Sex          140607
Vict Descent      140619
Premis Cd             16
Premis Desc          582
Weapon Used Cd    661838
Weapon Desc       661838
Status                 1
Status Desc            0
Crm Cd 1              11
Crm Cd 2          918239
Crm Cd 3          984577
Crm Cd 4          986813
LOCATION               0
Cross Street      834910
LAT                    0
LON                    0
dtype: int64

In [8]:
df['Date Rptd'] = pd.to_datetime(df['Date Rptd'])
df['DATE OCC'] = pd.to_datetime(df['DATE OCC'])

/tmp/ipykernel_7811/2630310296.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date Rptd'] = pd.to_datetime(df['Date Rptd'])
/tmp/ipykernel_7811/2630310296.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['DATE OCC'] = pd.to_datetime(df['DATE OCC'])

In [9]:
df['Vict Age'] = pd.to_numeric(df['Vict Age'], errors='coerce')
df = df.drop(['DR_NO', 'Cross Street'], axis=1)

In [10]:
# Extract year and month from 'DATE OCC'
df['Year'] = df['DATE OCC'].dt.year
df['Month'] = df['DATE OCC'].dt.month

In [11]:
df['Vict Sex'] = df['Vict Sex'].map({'M': 0, 'F': 1, 'X': 2})  # 'X' for unknown

In [12]:
print(df.duplicated().sum())
df = df.drop_duplicates()

56224

In [13]:
print(df.describe())
print(df['Crm Cd Desc'].value_counts())

                           Date Rptd                       DATE OCC  \
count                         930649                         930649
mean   2022-06-05 12:42:37.188369920  2022-05-26 02:14:51.241273856
min              2020-01-01 00:00:00            2020-01-01 00:00:00
25%              2021-04-11 00:00:00            2021-03-27 00:00:00
50%              2022-07-17 00:00:00            2022-07-05 00:00:00
75%              2023-07-18 00:00:00            2023-07-07 00:00:00
max              2024-11-24 00:00:00            2024-11-24 00:00:00
std                              NaN                            NaN

            TIME OCC           AREA    Rpt Dist No       Part 1-2  \
count  930649.000000  930649.000000  930649.000000  930649.000000
mean     1339.564049      10.233365    1069.757157       1.399806
min         1.000000       1.000000     101.000000       1.000000
25%       900.000000       5.000000     555.000000       1.000000
50%      1420.000000      10.000000    1063.000000       1.000000
75%      1900.000000      15.000000    1525.000000       2.000000
max      2359.000000      21.000000    2199.000000       2.000000
std       651.511928       5.971890     597.263033       0.489859

              Crm Cd       Vict Age       Vict Sex      Premis Cd  \
count  930649.000000  930649.000000  797914.000000  930634.000000
mean      500.123829      28.897587       0.646411     305.384365
min       110.000000      -4.000000       0.000000     101.000000
25%       331.000000       0.000000       0.000000     101.000000
50%       442.000000      30.000000       1.000000     203.000000
75%       626.000000      44.000000       1.000000     501.000000
max       956.000000     120.000000       2.000000     976.000000
std       205.375520      21.988337       0.677965     219.560145

       Weapon Used Cd       Crm Cd 1      Crm Cd 2     Crm Cd 3    Crm Cd 4  \
count   305182.000000  930638.000000  63906.000000  2099.000000   56.000000
mean       364.213053     499.888655    959.194160   984.585040  990.232143
min        101.000000     110.000000    210.000000   310.000000  821.000000
25%        311.000000     331.000000    998.000000   998.000000  998.000000
50%        400.000000     442.000000    998.000000   998.000000  998.000000
75%        400.000000     626.000000    998.000000   998.000000  998.000000
max        516.000000     956.000000    999.000000   999.000000  999.000000
std        123.720767     205.176574    109.134184    51.941154   28.834317

                 LAT            LON           Year          Month
count  930649.000000  930649.000000  930649.000000  930649.000000
mean       34.001966    -118.115182    2021.920502       6.277444
min         0.000000    -118.667600    2020.000000       1.000000
25%        34.013700    -118.425600    2021.000000       3.000000
50%        34.056500    -118.320100    2022.000000       6.000000
75%        34.153500    -118.273500    2023.000000       9.000000
max        34.334300       0.000000    2024.000000      12.000000
std         1.523870       5.281009       1.329731       3.436426
Crm Cd Desc
VEHICLE - STOLEN                                           105681
BATTERY - SIMPLE ASSAULT                                    70250
BURGLARY FROM VEHICLE                                       58968
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)     57025
THEFT OF IDENTITY                                           56693
                                                            ...
DISHONEST EMPLOYEE ATTEMPTED THEFT                              4
FIREARMS RESTRAINING ORDER (FIREARMS RO)                        3
FAILURE TO DISPERSE                                             3
TRAIN WRECKING                                                  1
DRUNK ROLL - ATTEMPT                                            1
Name: count, Length: 140, dtype: int64