## Data Analysis...

In [5]:
import tensorflow as tf
import keras

# Avoid OOM errors by setting GPU Memory Growth
gpus = tf.config.list_physical_devices('GPU')
if gpus:
    try:
        for gpu in gpus:
            tf.config.set_logical_device_configuration(
                gpu,
                [tf.config.LogicalDeviceConfiguration(memory_limit=1024)])  # Example: Limit to 1GB
            #tf.config.experimental.set_memory_growth(gpu, True)  # Enable memory growth
        logical_gpus = tf.config.list_logical_devices('GPU')
        print(f"{len(gpus)} Physical GPUs, {len(logical_gpus)} Logical GPUs")
    except RuntimeError as e:
        print(e)

1 Physical GPUs, 1 Logical GPUs

I0000 00:00:1736018965.439680   16286 gpu_device.cc:2022] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 1024 MB memory:  -> device: 0, name: NVIDIA GeForce MX250, pci bus id: 0000:06:00.0, compute capability: 6.1

#### Python Libraries ...

In [6]:
import pandas as pd
import numpy as np

#### Load CSV ...

In [14]:
df = pd.read_csv(r'/home/malaka/Projects/CV_Projects/Crime_Data_Analysis_of_LAPD/Data_sets/Ready_dataset.csv')
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Temperature (°C),Dew point (°C),Humidity (%),Precipitation (mm),Wind Direction(degrees°),Windspeed (km/h),Air pressure (hPa),Sunshine total(min),Wind Gust (km/h),Snow depth(mm)
0,190326475,2020-03-01,2020-03-01,21:30,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,15.85,3.600000,44.00,0.000000,245.000000,9.4,1013.700000,NaN,NaN,NaN
1,200106753,2020-02-09,2020-02-08,18:00,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,17.20,9.400000,60.00,0.000000,0.000000,0.0,1017.200000,NaN,NaN,NaN
2,200320258,2020-11-11,2020-11-04,17:00,3,Southwest,356,1,480,BIKE - STOLEN,...,21.70,11.700000,53.00,0.000000,0.000000,0.0,1018.700000,NaN,NaN,NaN
3,200907217,2023-05-10,2020-03-10,20:37,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,18.53,15.078333,80.55,0.461667,103.833333,7.6,1015.521667,NaN,NaN,NaN
4,200412582,2020-09-09,2020-09-09,06:30,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,22.20,17.800000,76.00,0.000000,0.000000,0.0,1006.350000,NaN,NaN,NaN

#### Drop NaN columns ...

In [ ]:
df = df.drop(['Sunshine total(min)',	'Wind Gust (km/h)',	'Snow depth(mm)'], axis=1)
df.sample(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Month,Date/Time,Temperature (°C),Dew point (°C),Humidity (%),Precipitation (mm),Wind Direction(degrees°),Windspeed (km/h),Air pressure (hPa),Rainy Day
298799,201716055,2020-12-04,2020-12-04,19:00,17,Devonshire,1761,2,888,TRESPASSING,...,12,2020-12-04 19:00:00,20.600,-12.10,10.0,0.000,0.00,0.0,1021.90,0
896928,241904743,2024-01-20,2024-01-20,23:45,19,Mission,1921,1,433,DRIVING WITHOUT OWNER CONSENT (DWOC),...,1,2024-01-20 23:45:00,14.275,11.35,82.5,0.325,108.25,7.6,1012.00,1
205417,210505553,2021-02-07,2021-01-25,20:00,5,Harbor,516,1,761,BRANDISH WEAPON,...,1,2021-01-25 20:00:00,12.800,-1.50,37.0,0.000,270.00,11.2,1006.80,0
120528,201314086,2020-07-17,2020-07-16,16:00,13,Newton,1317,1,510,VEHICLE - STOLEN,...,7,2020-07-16 16:00:00,19.400,14.40,73.0,0.000,0.00,0.0,1013.60,0
9611,201206629,2020-02-06,2020-02-06,13:30,12,77th Street,1268,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,2,2020-02-06 13:30:00,8.900,-0.30,52.5,0.000,0.00,0.0,1021.05,0

In [16]:
# Example: Rainy days (assuming a certain threshold of precipitation)
df['Rainy Day'] = df['Precipitation (mm)'].apply(lambda x: 1 if x > 0 else 0)
df["Rainy Day"]

0         0
1         0
2         0
3         1
4         0
         ..
989324    0
989325    0
989326    0
989327    0
989328    0
Name: Rainy Day, Length: 989329, dtype: int64